/* Global Styles */
body {
    background-color: #BB8FCE;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: #196F3D;
}

a:hover {
    color: #C60BA1;
    text-decoration: none;
}

#container {
    background-color: #85C1E9;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border: 6px solid #6C3483;
    border-radius: 20px;
}

h2, h3 {
    text-align: center;
    font-weight: 900;
    color: #2C3DEB;
}

main p {
    text-align: center;
    font-weight: 600;
    color: #186A3B;
}

/* Desktop Styles */

nav {
    background-color: #8E44AD;
    padding: 3px 0;
    text-align: center;
    border-radius: 20px;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: #D5DBDB;
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
}

nav li a:hover {
    color: #E708BB;
}

header h1 {
    text-align: center;
    font-size: 60px;
    color: #3A3CE8;
    text-shadow: 2px 1px 2px #2ECC71;
}

main {
    padding: 20px;
}

main img {
    width: 40%;
    padding: 25px 0;
    margin: auto;
    border: 3px solid #D5DBDB;
}

#lower {
    display: flex;
}

.col {
    padding: 10px;
    margin: 10px;
    border: 3px solid #6C3483;
    width: 33.33%;
    border-radius: 30px;
}

.col img {

    border: 2px solid #fff;
    border-radius: 20px;
}

footer {
    padding: 25px 0;
    text-align: center;
}

hr {
    width: 95%;
}

.button {
    display: block;
    background-color: #8E44AD;
    width: 125px;
    height: 40px;
    color:#D5DBDB;
    text-decoration: none;
    text-align: center;
    line-height: 35px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;    
}

.button:hover {
    color:#D5DBDB;
}

#xpacs {
    display: flex;
}

.xpaccover img {
    width: 100%;
}

.col ul {
    border: 2px solid #fff;
    text-align: left;
    width: 40%;
    position: relative;
    left: 30%;
    
}

h4 {
    text-align: center;
    color:#2C3DEB;
}

.col p {
    text-align: center;
    color:#186A3B;
}